@font-face {
    font-family: 'GE-SS-Two-Bold_ar';
    src: url('../css/fonts/GE-SS-Two-ar/GE-SS-Two-Bold-ar.otf');
}
@font-face {
    font-family: 'GE-SS-Two-Light_ar';
    src: url('../css/fonts/GE-SS-Two-ar/GE-SS-Two-Light-ar.otf');
}
@font-face {
    font-family: 'Nunito-Bold';
    src: url('../css/fonts/Nunito-en/Nunito-Bold.ttf');
}
@font-face {
    font-family: 'Nunito-SemiBold';
    src: url('../css/fonts/Nunito-en/Nunito-SemiBold.ttf');
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,#0f2027,#498199);
    width: 100%;
    height: 100vh;
    animation: blur 350ms forwards ease;
}
.form-box {
    padding: 20px;
    font-family: 'Nunito-Bold';
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #9ccbdf;
    position: relative;
    text-align: center;
    border-radius: 10px;
    overflow-y: auto;
    scrollbar-color: #5d889b transparent;
}
.form-box::before {
    content: "";
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 500px;
    height: 500px;
    background-color: #9ccbdf;
    border-radius: 10px;
    z-index: -1;
}
.form-box form {
    display: grid;
}
h2 {
    margin: 30px 0;
    text-decoration: underline;
    letter-spacing: 3px;
    font-size: 30px;
}
label {
    width: 100%;
    text-align: left;
}
input {
    width: 350px;
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    transition: 200ms;
}
input:focus {
    outline: 2px solid blue;
    border:2px solid transparent;
}
button {
    margin: auto;
    width: 150px;
    padding: 5px 15px;
    background: linear-gradient(135deg,#0f2027,#498199);
    color: white;
    border: none;
    border-radius: 35px;
    transition: 200ms;
}
button:hover {
    background: linear-gradient(135deg,#498199,#0f2027);
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.5);
    color: #9ccbdf;
}
a {
    color: blue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Code for forgot-password.html */

.change-password {
    padding: 30px 0;
    height: 100hv;
}
.change-password .form-box {
    height: 500px;
}
.change-password button {
    width: auto;
    margin-bottom: 20px;
}