@font-face {
    font-family: 'GE-SS-Two-Bold_ar';
    src: url('fonts/GE-SS-Two-ar/GE-SS-Two-Bold-ar.otf');
}
@font-face {
    font-family: 'GE-SS-Two-Light_ar';
    src: url('fonts/GE-SS-Two-ar/GE-SS-Two-Light-ar.otf');
}
@font-face {
    font-family: 'Nunito-Bold';
    src: url('fonts/Nunito-en/Nunito-Bold.ttf');
}
@font-face {
    font-family: 'Nunito-Light';
    src: url('fonts/Nunito-en/Nunito-Light.ttf');
}
@font-face {
    font-family: 'Playball-en';
    src: url('fonts/Playball-en/Playball-Regular.ttf');
}
@font-face {
    font-family: 'Patrick_Hand';
    src: url('fonts/Patrick_Hand/PatrickHand-Regular.ttf');
}

/* ------------------------------------------------------------------------- Basics */

:root {
    --bg1:     #d8deff;
    --bg2:     #c3d1f5;
    --blob1:   #5bc8ffa8;
    --blob2:   #0062ff49;
    --blob3:   #fffc3e3d;
    

    --Btn-bgColor1: #1b3554;
    --Btn-bgColor2: #000f22;
    --Btn-bgColor-Hover: #3f6593;
    --Btn-boxShadow: #5b86b6;
    --Btn-textColor: #c0e6fd;


    --primary-color:   #c0e6fd;
    --secondary-color: #80aad3;

    --primary-color-inverted:   #000f22;
    --secondary-color-inverted: #1b3554;

    --border-color: black;

    --text-color: #000f22;
    --text-color-inverted: #c0e6fd;

    --donations-div-color: #c6c6c6;
    --box-shadow-80: #00000080;
    --contact-color: #d6d6d6;
    --contact-hover-color: #c1c1c1;
    --input-color: white;
    --width-hero-h1: 1135px;
    --width-hero-p: 415px; 
}
* {
    font-family: 'Nunito-Bold';
    transition: 1s;
}
html {
    scroll-behavior: smooth;
    font-family: 'Nunito-Bold';
}
body {
    background: linear-gradient(120deg, var(--bg1), var(--bg2));
}
body::before,
body::after {
    content: "";
    position: fixed;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    filter: blur(150px);
    z-index: -1;
}
body::before {
    top: 10%;
    background: var(--blob1);
    transform: translate(-50%, -40%);
    opacity: 0;
    animation: body-before 10s 0s infinite alternate ease-in-out;
}
body::after {
    top: -20%;
    right: 0%;
    background: var(--blob2);
    transform: translate(50%, -40%);
    opacity: 0;
    animation: body-after 10s 0s infinite alternate-reverse ease-in-out;
}
.extra {
    position: fixed;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    filter: blur(100px);
    background: var(--blob3);
    z-index: -100;
    opacity: 0;
    animation: body-extra 10s 5s infinite forwards ease-in-out;
}
.animated-body {
    animation: index-body 1s forwards ease;
}
.arrow-up,
.arrow-return {
    position: fixed;
    bottom: 30px;
    right: 35px;
    width: 50px;
    height: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    line-height: 0;
    vertical-align: 0;
    background-color: var(--Btn-bgColor1);
    color: var(--Btn-textColor);
    border: 1px solid var(--Btn-bgColor2);
    border-radius: 50%;
    animation: arrow-up 300ms forwards ease;
    cursor: pointer;
    transition: 1s;
    z-index: 999;
}
.arrow-up:hover {
    background-color: var(--Btn-bgColor-Hover);
    box-shadow: 0 0 0 5px var(--Btn-boxShadow);
    transition: 150ms;
}
.arrow-up:active {
    background-color: var(--Btn-bgColor2);
    transform: scale(0.85);
}

/* ------------------------------------------------------------------------- navbar */

.navbar {
    padding: 0;
    font-family: 'Nunito-Bold';
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(35px);
    transition: 300ms;
    z-index: 1000;
    background: color-mix(in srgb, var(--primary-color) 25%, transparent);
}
.navbar .container {
    padding: 0;
    height: 100%;
}
.navbar .container div:nth-child(1) {
    padding: 0;
    margin-top: -15px;
    display: flex;
    align-items: center;
}
.navbar .logo {
    margin: 0;
    width: 70px;
    height: 75px;
    cursor: pointer;
}
.navbar .navbar-brand.text-white.ps-2 {
    font-size: 25px;
    color: var(--text-color-inverted) !important;
    transition: 200ms !important;
}
.navbar .logo:hover,
.navbar .navbar-brand.text-white.ps-2:hover {
    font-weight: bold;
    scale: 1.02;
}
.navbar .navbar-brand.text-white.ps-2:active {
    scale: 0.90;
}
.navbar ul {
    margin-right: -100px;
    list-style: none;
    display: flex;
    padding: 22px;
    text-align: center;
    height: 100%;
}
.navbar ul li {
    width: 125px;
    display: flex;
    justify-content: center;
}
.navbar ul li a {
    padding: 8px;
    width: 100%;
    border: 2px solid transparent;
    border-bottom: 2px solid var(--text-color-inverted);
    border-radius: 10px 10px 0 0;
    color: var(--text-color-inverted) !important;
    text-decoration: none;
    transition: 200ms;
}
.navbar ul li a:hover {
    border: 2px solid cyan;
    border-bottom: 2px solid blue;
    font-weight: bold;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px 0 #00ffff52;
}
.navbar ul li a:active {
    scale: 0.75;
}
.navbar .loginBtn {
    margin-top: -15px;
    background: var(--Btn-bgColor1);
    color: var(--Btn-textColor);
    border: 1px solid transparent;
    box-shadow: 0 0 0 2px var(--Btn-boxShadow);
    padding: 10px 20px;
    border-radius: 35px;
    width: 100px;
    transition: 200ms;
}
.navbar .loginBtn:hover {
    background: var(--Btn-bgColor-Hover);
    transform: translateY(-5px);
}
.navbar .loginBtn:active {
    scale: 0.75;
    background: var(--Btn-bgColor2);
    color: var(--Btn-textColor);
}
.navbar .theme {
    margin-top: -15px;
    margin-right: -20px;
    margin-left: -70px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.theme .theme-icon {
    position: absolute;
    display: block;
    font-size: 26px;
    width: 30px;
    height: 30px;
    color: var(--text-color-inverted);
    cursor: pointer;
}
.theme .theme-icon:hover {
    scale: 1.15;
}
.theme-icon.lightMode {
    display: none;
}

/* ------------------------------------------------------------------------- hero */

.hero {
    position: relative;
    top: 0;
    padding: 120px 60px;
    padding-top: 220px;
    text-align: center;
    color: white;
    width: 100%;
    height: 100vh;
    z-index: 999;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: 
        linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(0, 0, 0, 0.35) 50%, rgba(0,0,0,1) 100%),
        url('../attachments/wallpapers/FCAIH2.jpg'),
        fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.hero h1 {
    margin-top: -35px;
    margin-bottom: 50px;
    padding: 10px;
    white-space: pre;
    overflow: hidden;
    font-size: 42px;
    width: var(--width-hero-h1);
    letter-spacing: 1px;
    color: #d7d7d7;
    border-right: 5px solid cyan;
    animation: width-hero-h1 3s steps(2500), blink 350ms infinite;
}
.hero p {
    margin: auto;
    padding: 10px;
    font-family: 'Patrick_Hand';
    letter-spacing: 1px;
    font-size: 30px;
    width: var(--width-hero-p);
    border-right: 5px solid cyan;
    white-space: pre;
    overflow: hidden;
    animation: width-hero-p 2s steps(2500) forwards, blink 350ms infinite;
    animation-delay: 2s;
    opacity: 0;
}
.hero audio {
    width: 50%;
}

/* ------------------------------------------------------------------------- about */

.about {
    padding: 30px;
    padding-bottom: 50px;
    scroll-margin-top: 90px;
}
.about .container {
    font-family: 'Nunito-Bold';
    color: var(--text-color-inverted);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 400px;
}
.about .container p {
    font-size: 22px;
    width: 80%;
}
.container #volunteers {
    background: var(--Btn-bgColor1);
    color: var(--Btn-textColor);
    border: 1px solid transparent;
    box-shadow: 0 0 0 2px var(--Btn-boxShadow);
    padding: 10px 20px;
    border-radius: 35px;
    width: 150px;
    transition: 200ms;
}
.container #volunteers:hover {
    background: var(--Btn-bgColor-Hover);
    transform: translateY(-3px);
}
.container #volunteers:active {
    background: var(--Btn-bgColor2);
    scale: 0.75;
}
.pop-up {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #00000080;
    display: none;
    backdrop-filter: blur(20px);
    z-index: 1000;
    animation: pop-up 750ms forwards ease;
}
.popup-hide {
    animation: pop-up2 750ms forwards ease;
}
.mini-pop-up {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background: linear-gradient(120deg, var(--bg1), var(--bg2));
    box-shadow: 0 0 0 3px #5b86b6;
    padding: 20px;
    border-radius: 35px 0 35px 35px;
    width: 80%;
    height: 95%;
    overflow: hidden;
    animation: mini-pop-up 750ms forwards ease;
}
.mini-popup-hide {
    animation: mini-pop-up2 750ms forwards ease;
}
.mini-pop-up-extra1,
.mini-pop-up-extra2,
.mini-pop-up-extra3 {
    position: fixed;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    filter: blur(120px);
    background-color: red;
}
.mini-pop-up-extra1 {
    background-color: var(--blob1);
    left: 0%;
    opacity: 0.5;
}
.mini-pop-up-extra2 {
    background-color: var(--blob2);
    right: 0%;
    opacity: 0.5;
}
.mini-pop-up-extra3 {
    background-color: var(--blob3);
    bottom: 0%;
    left: 40%;
    opacity: 0.5;
}
.pop-up .closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #5b86b6;
    color: var(--text-color-inverted);
    width: 55px;
    height: 40px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: 200ms;
}
.pop-up .closeBtn:hover {
    background-color: red;
    color: white;
}
.pop-up .closeBtn:active {
    background-color: #b40000;
}
.mini-pop-up .container2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.mini-pop-up .container2 .div1,
.mini-pop-up .container2 .div2,
.mini-pop-up .container2 .div3 {
    width: calc(100%/3);
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mini-pop-up .container2 .div1 div,
.mini-pop-up .container2 .div2 div,
.mini-pop-up .container2 .div3 div {
    width: 90%;
    height: 50%;
    background: color-mix(in srgb, var(--secondary-color) 15%, transparent);
    box-shadow: 0 0 15px 0 var(--box-shadow-80) inset;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    overflow: hidden;
    transition: all 350ms 0s linear;
}
.mini-pop-up .container2 img {
    margin: 15px 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 5px 2px #424242;
}
.mini-pop-up .container2 .div1 div:hover,
.mini-pop-up .container2 .div2 div:hover,
.mini-pop-up .container2 .div3 div:hover {
    width: 95%;
    height: 55%;
    img {
        scale: 1.25;
        transition: all 100ms 0 linear;
    }
    transition: all 150ms 0s linear;
}
.mini-pop-up .container2 p {
    font-size: 18px;
    color: var(--text-color-inverted);
}

/* ------------------------------------------------------------------------- projects */

.donations {
    padding: 25px;
    scroll-margin-top: 90px;
    display: block;
    width: 100%;
    height: 100%;
    gap: 20px;
}
.donations .container {
    font-family: 'Nunito-Bold';
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.donations .container h2 {
    font-size: 40px;
    text-align: center;
    color: var(--text-color-inverted);
}
.container .project-card {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 35px;
    background-color: transparent;
    border: none;
}
.project-card .card-body {
    position: relative;
    width: calc((100% - 50px) / 2);
    padding: 0;
    height: 320px;
    background: color-mix(in srgb, #c0e6fd 20%, #1b3554 100%);
    border: 1px solid #1b3554;
    border-radius: 30px;
    box-shadow: 0 0 20px 0 #00000080;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    transition: 200ms;
}
.card-body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    transition: 200ms;
    z-index: -1;
}
.card-body:nth-child(1)::before {
    background: url('../attachments/college.jpg');
    background-size: cover;
}
.card-body:nth-child(2)::before {
    background: url('../attachments/students.jpg');
    background-size: cover;
}
.card-body:nth-child(3)::before {
    background: url('../attachments/graduation-projects.jpg');
    background-size: cover;
}
.card-body:nth-child(4)::before {
    background: url('../attachments/uni-events.jpg');
    background-size: cover;
}
.card-body div {
    margin-top: auto;
    width: 100%;
    height: fit-content;
    background: color-mix(in srgb, var(--secondary-color) 80%, transparent);
}
.card-body div h5 {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 5px;
    color: var(--text-color-inverted);
}
.card-body div p {
    margin: 0;
    margin-bottom: 10px;
    font-size: small;
    color: var(--text-color-inverted);
}
.card-body div a {
    scroll-margin-top: 550px;
    margin-top: 5px !important;
    padding-left: 50px;
    font-size: 25px;
    background: linear-gradient(to right, #000f22, transparent);
    color: #c0e6fd !important;
    border: none;
    border-radius: 0;
    width: 100%;
    height: 50px;
    text-align: left;
    transition: 250ms;
}
.card-body a:hover {
    background: linear-gradient(#1b3554);
    color: #b4f1ff;
}
.card-body a:active {
    background: linear-gradient(135deg, #2c8ea4,#074e5f 35% 65%, #2c8ea4);
}
.card-body:hover::before {
    transform: scale(1.1);
}

/* ------------------------------------------------------------------------- contact */
.contact {
    padding: 25px;
    scroll-margin-top: 35px;
    display: block;
    width: 100%;
    height: 100%;
    gap: 20px;
}
.contact .container {
    padding: 25px;
    display: block;
    width: 100%;
    height: 100%;
}
.contact h2 {
    margin: auto;
    margin-bottom: 26px;
    padding: 15px;
    font-size: 40px;
    width: 100%;
    text-align: center;
    color: var(--text-color-inverted);
}
.contact .bootstrap-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    font-size: 30px;
    color: var(--text-color-inverted);
}
.bootstrap-icons .icon-div {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon-div .circle {
    margin-bottom: 15px;
    width: 75px;
    height: 75px;
    color: var(--text-color-inverted);
    border: 2px solid var(--text-color-inverted);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 50ms;
}
.icon-div p {
    font-size: 25px;
    margin-bottom: 0;
}
.icon-div h4 {
    font-size: 15px;
    font-family: 'Nunito-Light';
}
.contact form {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.contact form div {
    width: 100%;
}
.contact form div input {
    outline: 1px solid #1b3554;
    background-color: var(--input-color);
    transition: 250ms;
}
.contact form div input:focus {
    outline: 2px solid blue;
    box-shadow: 0 0 0 5px #c0e6fd;
}
.contact form textarea {
    width: 100%;
    border-radius: 8px;
    background-color: var(--input-color);
    outline: 1px solid #1b3554;
    transition: 250ms;
}
.contact form div input::placeholder,
.contact form textarea::placeholder {
    color: #484848;
}
.contact form textarea:focus {
    background-color: white;
    outline: 2px solid blue;
    box-shadow: 0 0 0 5px #c0e6fd;
}
.contact form button {
    padding: 10px 20px;
    background: var(--Btn-bgColor1) !important;
    color: var(--Btn-textColor);
    box-shadow: 0 0 0 2px var(--Btn-boxShadow);
    border-radius: 30px;
    height: 45px;
    transition: 200ms;
}
.contact form button:hover {
    background: var(--Btn-bgColor-Hover) !important;
}

/* ------------------------------------------------------------------------- footer */

footer {
    position: relative;
    padding: 50px 0;
    display: grid;
    height: 220px;
    color: white;
    text-align: center;
}
footer::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 100%;
    height: 100%;
    background: #161616c3;
    background-size: cover;
    background-repeat: no-repeat;
}
footer .icons {
    padding: 0 20%;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}
.icons .app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.app .icon {
    width: 60px;
    height: 60px;
    background-color: white;
    border: 1px solid rgb(115, 115, 115);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center ;
    cursor: pointer;
}
.app:nth-child(1) .icon {
    color: rgb(64, 64, 255);
}
.app:nth-child(2) .icon {
    color: rgb(223, 36, 67);
}
.app:nth-child(3) .icon {
    color: rgb(74, 74, 255);
}
.icon i {
    width: auto;
    height: 42px;
    font-size: 30px;
    transition: 200ms;
}
.icon i:hover {
    scale: 1.2;
}
footer p {
    margin: 0;
    margin-bottom: -20px;
}