@font-face {
    font-family: 'GE-SS-Two-Bold_ar';
    src: url('fonts/GE-SS-Two-ar/GE-SS-Two-Bold-ar.otf');
}
@font-face {
    font-family: 'GE-SS-Two-Light_ar';
    src: url('fonts/GE-SS-Two-ar/GE-SS-Two-Light-ar.otf');
}
@font-face {
    font-family: 'Nunito-Bold';
    src: url('fonts/Nunito-en/Nunito-Bold.ttf');
}
@font-face {
    font-family: 'Nunito-Light';
    src: url('fonts/Nunito-en/Nunito-Light.ttf');
}
@font-face {
    font-family: 'Playball-en';
    src: url('fonts/Playball-en/Playball-Regular.ttf');
}
@font-face {
    font-family: 'Patrick_Hand';
    src: url('fonts/Patrick_Hand/PatrickHand-Regular.ttf');
}

/* ------------------------------------------------------------------------- Basics */

:root {
    --bg1:            #d8deff;
    --bg2:            #c3d1f5;
    --blob1:          #5bc8ffa8;
    --blob2:          #0062ff49;
    --blob3:          #1edc01cb;
    --primary-color1: #c0e6fd;
    --primary-color2: #80aad3;
    --primary-color3: #5b86b8;
    --primary-color4: #3f6593;
    --primary-color5: #1b3554;
    --primary-color6: #000f22;
    --width-hero-h1: 1135px;
    --width-hero-p: 415px; 
}
* {
    font-family: 'Nunito-Bold';
    transition: all 1s 0s ease;
}
html {
    scroll-behavior: smooth;
    font-family: 'Nunito-Bold';
}
body {
    background: linear-gradient(120deg, var(--bg1), var(--bg2));
}
body::before,
body::after {
    content: "";
    position: fixed;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: #ffff0040;
    /* filter: blur(120px); */
    z-index: -1;
}
body::before {
    transform: translate(-50%, -40%);
    animation: body-before 3s 1.5s infinite alternate linear;
    opacity: 0;
}
body::after {
    top: -20%;
    right: 0%;
    transform: translate(50%, -40%);
    animation: body-after 3s 0s infinite alternate-reverse linear;
}
.extra {
    position: fixed;
    width: 0;
    height: 0;
    border-radius: 50%;
    filter: blur(0px);
    background: var(--blob3);
    z-index: -100;
    animation: body-extra 20s 0s infinite alternate linear;
}
.animated-body {
    animation: index-body 1s forwards ease;
}
.arrow-up,
.arrow-return {
    position: fixed;
    bottom: 30px;
    right: 35px;
    width: 50px;
    height: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    line-height: 0;
    vertical-align: 0;
    background: var(--primary-color5);
    color: var(--primary-color1);
    border: 1px solid var(--primary-color6);
    border-radius: 50%;
    animation: arrow-up 300ms forwards ease;
    cursor: pointer;
    transition: 1s;
    z-index: 999;
}
.arrow-up:hover {
    background: var(--primary-color4);
    box-shadow: 0 0 0 5px var(--primary-color3);
    transition: 150ms;
}
.arrow-up:active {
    background: var(--primary-color6);
    transform: scale(0.85);
}

/* ------------------------------------------------------------------------- navbar */

.navbar {
    padding: 0;
    font-family: 'Nunito-Bold';
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(35px);
    overflow: hidden;
    transition: 300ms;
    z-index: 1000;
    background: color-mix(in srgb, var(--primary-color1) 25%, transparent);
}
.navbar .container {
    padding: 0;
    height: 100%;
}
.navbar .container div:nth-child(1) {
    padding: 0;
    margin-top: -15px;
    margin-left: -30px;
    display: flex;
    align-items: center;
}
.navbar .logo {
    margin: 0;
    width: 70px;
    height: 75px;
    cursor: pointer;
}
.navbar .navbar-brand.text-white.ps-2 {
    font-size: 25px;
    color: var(--primary-color6) !important;
    transition: 200ms !important;
}
.navbar .logo:hover,
.navbar .navbar-brand.text-white.ps-2:hover {
    font-weight: bold;
    scale: 1.02;
}
.navbar .navbar-brand.text-white.ps-2:active {
    scale: 0.90;
}
.navbar ul {
    list-style: none;
    display: flex;
    padding: 22px;
    text-align: center;
    height: 100%;
}
.navbar ul li {
    width: 125px;
    display: flex;
    justify-content: center;
}
.navbar ul li a {
    padding: 8px;
    width: 100%;
    border: 2px solid transparent;
    border-bottom: 2px solid var(--primary-color6);
    border-radius: 10px 10px 0 0;
    color: var(--primary-color6) !important;
    text-decoration: none;
    transition: all 200ms 100ms linear;
}
.navbar ul li a:hover {
    border: 2px solid var(--primary-color4);
    border-bottom: 2px solid blue;
    font-weight: bold;
    transform: translateY(-5px);
    box-shadow: 0 5px 10px 0 cyan;
    transition: 100ms;
}
.navbar ul li a:active {
    scale: 0.75;
}
.navbar .container > div:nth-child(3) {
    margin: auto;
    margin-top: 0;
    transform: translateX(-50px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
    height: 100%;
}
.navbar .container > div:nth-child(3) span {
    margin-top: -8px;
    color: var(--primary-color6);
    font-size: 20px;
}
.navbar .container > div:nth-child(3) .loginBtn {
    background: var(--primary-color5);
    color: var(--primary-color1);
    border: 1px solid transparent;
    box-shadow: 0 0 0 2px var(--primary-color3);
    padding: 10px 20px;
    border-radius: 35px;
    width: 100px;
    height: 45px;
    transition: 200ms;
}
.navbar .container > div:nth-child(3) .loginBtn:hover {
    background: var(--primary-color4);
    transform: translateY(-2px);
}
.navbar .container > div:nth-child(3) .loginBtn:active {
    scale: 0.75;
    background: var(--primary-color6);
    color: var(--primary-color1);
}
.navbar .theme {
    margin-top: -15px;
    margin-right: -20px;
    margin-left: -70px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.theme .theme-icon {
    position: absolute;
    display: block;
    font-size: 26px;
    width: 30px;
    height: 30px;
    color: var(--primary-color6);
    cursor: pointer;
    transition: 100ms;
}
.theme .theme-icon:hover {
    scale: 1.15;
}
.theme-icon.lightMode {
    display: none;
}

/* ------------------------------------------------------------------------- hero */

.hero {
    position: relative;
    top: 0;
    padding: 120px 60px;
    padding-top: 220px;
    text-align: center;
    color: white;
    width: 100%;
    height: 100vh;
    z-index: 999;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: 
        linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(0, 0, 0, 0.35) 50%, rgba(0,0,0,1) 100%),
        url('../attachments/wallpapers/FCAIH2.jpg'),
        fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.hero h1 {
    margin-top: -35px;
    margin-bottom: 50px;
    padding: 10px;
    white-space: pre;
    overflow: hidden;
    font-size: 42px;
    width: var(--width-hero-h1);
    letter-spacing: 1px;
    color: #d7d7d7;
    border-right: 5px solid cyan;
    animation: width-hero-h1 3s steps(2500), blink 350ms infinite;
}
.hero p {
    margin: auto;
    padding: 10px;
    font-family: 'Patrick_Hand';
    letter-spacing: 1px;
    font-size: 30px;
    width: var(--width-hero-p);
    border-right: 5px solid cyan;
    white-space: pre;
    overflow: hidden;
    animation: width-hero-p 2s steps(2500) forwards, blink 350ms infinite;
    animation-delay: 2s;
    opacity: 0;
}

/* ------------------------------------------------------------------------- about */

.about {
    padding: 30px;
    padding-bottom: 50px;
    scroll-margin-top: 90px;
}
.about .container {
    font-family: 'Nunito-Bold';
    color: var(--primary-color6);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 400px;
}
.about .container p {
    font-size: 22px;
    width: 80%;
}
.container #volunteers {
    background: var(--primary-color5);
    color: var(--primary-color1);
    border: 1px solid transparent;
    box-shadow: 0 0 0 2px var(--primary-color3);
    padding: 10px 20px;
    border-radius: 35px;
    width: 150px;
    transition: 200ms;
}
.container #volunteers:hover {
    background: var(--primary-color4);
    transform: translateY(-3px);
}
.container #volunteers:active {
    background: var(--primary-color6);
    scale: 0.75;
}
.pop-up {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #00000080;
    display: none;
    backdrop-filter: blur(20px);
    z-index: 1000;
    animation: pop-up 750ms forwards ease;
}
.popup-hide {
    animation: pop-up2 750ms forwards ease;
}
.mini-pop-up {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background: linear-gradient(120deg, var(--bg1), var(--bg2));
    box-shadow: 0 0 0 2px var(--primary-color4);
    padding: 20px;
    border-radius: 35px 0 35px 35px;
    width: 80%;
    height: 95%;
    overflow: hidden;
    animation: mini-pop-up 750ms forwards ease;
}
.mini-popup-hide {
    animation: mini-pop-up2 750ms forwards ease;
}
.mini-pop-up-extra1,
.mini-pop-up-extra2,
.mini-pop-up-extra3 {
    position: fixed;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    filter: blur(50px);
    background: red;
}
.mini-pop-up-extra1 {
    background: var(--blob1);
    left: 0%;
    opacity: 0.5;
}
.mini-pop-up-extra2 {
    background: var(--blob2);
    right: 0%;
    opacity: 0.5;
}
.mini-pop-up-extra3 {
    background: var(--blob3);
    bottom: 0%;
    left: 40%;
    opacity: 0.5;
}
.pop-up .closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    background: var(--primary-color3);
    color: var(--primary-color6);
    width: 55px;
    height: 40px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: 200ms;
}
.pop-up .closeBtn:hover {
    background: red;
    color: white;
}
.pop-up .closeBtn:active {
    background: #b40000;
}
.mini-pop-up .container2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.mini-pop-up .container2 .div1,
.mini-pop-up .container2 .div2,
.mini-pop-up .container2 .div3 {
    width: calc(100%/3);
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mini-pop-up .container2 .div1 div,
.mini-pop-up .container2 .div2 div,
.mini-pop-up .container2 .div3 div {
    width: 90%;
    height: 50%;
    background: color-mix(in srgb, var(--primary-color2) 15%, transparent);
    box-shadow: 0 0 15px 0 color-mix(in srgb, var(--primary-color6) 100%, transparent) inset;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    overflow: hidden;
    transition: all 350ms 0s linear;
}
.mini-pop-up .container2 img {
    margin: 15px 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px var(--primary-color6);
}
.mini-pop-up .container2 .div1 div:hover,
.mini-pop-up .container2 .div2 div:hover,
.mini-pop-up .container2 .div3 div:hover {
    width: 95%;
    height: 55%;
    img {
        scale: 1.25;
        transition: all 100ms 0 linear;
    }
    transition: all 150ms 0s linear;
}
.mini-pop-up .container2 p {
    font-size: 18px;
    color: var(--primary-color6);
}

/* ------------------------------------------------------------------------- projects */

.donations {
    padding: 25px;
    scroll-margin-top: 90px;
    display: block;
    width: 100%;
    height: 100%;
    gap: 20px;
}
.donations .container {
    font-family: 'Nunito-Bold';
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.donations .container h2 {
    font-size: 40px;
    text-align: center;
    color: var(--primary-color6);
}
.container .project-card {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 35px;
    background: transparent;
    border: none;
}
.project-card .card-body {
    position: relative;
    width: calc((100% - 50px) / 2);
    padding: 0;
    height: 320px;
    background: color-mix(in srgb, #c0e6fd 20%, #1b3554 100%);
    border: 1px solid var(--primary-color5);
    border-radius: 30px;
    box-shadow: 0 0 20px 0 #00000080;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    transition: 200ms;
}
.card-body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    transition: 200ms;
    z-index: -1;
}
.card-body:nth-child(1)::before {
    background: url('../attachments/college.jpg');
    background-size: cover;
}
.card-body:nth-child(2)::before {
    background: url('../attachments/students.jpg');
    background-size: cover;
}
.card-body:nth-child(3)::before {
    background: url('../attachments/graduation-projects.jpg');
    background-size: cover;
}
.card-body:nth-child(4)::before {
    background: url('../attachments/uni-events.jpg');
    background-size: cover;
}
.card-body div {
    margin-top: auto;
    width: 100%;
    height: fit-content;
    background: color-mix(in srgb, var(--primary-color2) 80%, transparent);
}
.card-body div h5 {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 5px;
    color: var(--primary-color6);
}
.card-body div p {
    margin: 0;
    margin-bottom: 10px;
    font-size: small;
    color: var(--primary-color6);
}
.card-body div a {
    scroll-margin-top: 550px;
    margin-top: 5px !important;
    padding-left: 50px;
    font-size: 25px;
    background: linear-gradient(to right, var(--primary-color6), transparent);
    color: var(--primary-color1) !important;
    border: none;
    border-radius: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: left;
    transition: 250ms;
}
.card-body a:hover {
    background: linear-gradient(var(--primary-color6));
}
.card-body a:active {
    background: linear-gradient(135deg, var(--primary-color6),var(--primary-color5) 35% 65%, var(--primary-color6));
}
.card-body:hover::before {
    transform: scale(1.1);
}

/* ------------------------------------------------------------------------- contact */

.contact {
    padding: 25px;
    scroll-margin-top: 35px;
    display: block;
    width: 100%;
    height: 100%;
    gap: 20px;
}
.contact .container {
    padding: 25px;
    display: block;
    width: 100%;
    height: 100%;
}
.contact h2 {
    margin: auto;
    margin-bottom: 26px;
    padding: 15px;
    font-size: 40px;
    width: 100%;
    text-align: center;
    color: var(--primary-color6);
}
.contact .bootstrap-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    font-size: 30px;
    color: var(--primary-color6);
}
.bootstrap-icons .icon-div {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon-div .circle {
    margin-bottom: 15px;
    width: 75px;
    height: 75px;
    color: var(--primary-color6);
    border: 2px solid var(--primary-color6);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 50ms;
}
.icon-div p {
    font-size: 25px;
    margin-bottom: 0;
}
.icon-div h4 {
    font-size: 15px;
    font-family: 'Nunito-Light';
}
.contact form {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.contact form div {
    width: 100%;
}
.contact form div input {
    outline: 1px solid var(--primary-color6);
    background: var(--primary-color1);
    transition: 250ms;
}
.contact form div input:focus {
    outline: 2px solid blue;
    box-shadow: 0 0 0 5px var(--primary-color5);
}
.contact form textarea {
    width: 100%;
    border-radius: 8px;
    background: var(--primary-color1);
    outline: 1px solid var(--primary-color6);
    transition: 250ms;
}
.contact form div input::placeholder,
.contact form textarea::placeholder {
    color: #5b5b5b;
}
.contact form textarea:focus {
    background: white;
    outline: 2px solid blue;
    box-shadow: 0 0 0 5px var(--primary-color5);
}
.contact form button {
    padding: 10px 20px;
    background: var(--primary-color5) !important;
    color: var(--primary-color1);
    box-shadow: 0 0 0 2px var(--primary-color3);
    border-radius: 30px;
    height: 45px;
    transition: 200ms;
}
.contact form button:hover {
    background: var(--primary-color4) !important;
}

/* ------------------------------------------------------------------------- footer */

footer {
    position: relative;
    padding: 50px 0;
    display: grid;
    height: 220px;
    background: var(--primary-color3);
    color: var(--primary-color1);
    text-align: center;
}

footer .icons {
    padding: 0 20%;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}
.icons .app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.app .icon {
    width: 60px;
    height: 60px;
    background: white;
    border: 1px solid var(--primary-color6);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center ;
    cursor: pointer;
}
.app:nth-child(1) .icon {
    color: rgb(64, 64, 255);
}
.app:nth-child(2) .icon {
    color: rgb(223, 36, 67);
}
.app:nth-child(3) .icon {
    color: rgb(74, 74, 255);
}
.icon i {
    width: auto;
    height: 42px;
    font-size: 30px;
    transition: 200ms;
}
.icon i:hover {
    scale: 1.2;
}
footer p {
    margin: 0;
    margin-bottom: -20px;
}
