@font-face {
    font-family: 'GE-SS-Two-Bold_ar';
    src: url('fonts/GE-SS-Two-ar/GE-SS-Two-Bold-ar.otf');
}
@font-face {
    font-family: 'GE-SS-Two-Light_ar';
    src: url('fonts/GE-SS-Two-ar/GE-SS-Two-Light-ar.otf');
}
@font-face {
    font-family: 'Nunito-Bold';
    src: url('fonts/Nunito-en/Nunito-Bold.ttf');
}
@font-face {
    font-family: 'Nunito-SemiBold';
    src: url('fonts/Nunito-en/Nunito-SemiBold.ttf');
}

/* ------------------------------------------------------------------------- Basics */
:root {
    --primary-color: #ffcdcd;
    --secondary-color: #1f0000;
    --third-color: #ffb7b7;
    --fourth-color: #d88787;
    --toBrown: brown;
    --about: #ff5f5f8a;
    --about-img: #ffc0ca;
    --text-color: white;
    --text-color-inverted: black;
    --card-body-p: #aaa;
    --drop-shadow-color: blue;
    --drop-shadow-color-inverted: cyan;
}
* {
    font-family: 'Nunito-Bold';
    transition: 500ms;
}
html {
    scroll-behavior: smooth;
    font-family: 'Nunito-Bold';
}
body {
    background: var(--primary-color);
}
.animated-body {
    animation: index-body 1s forwards ease;
}
hr {
    border: 2px solid var(--secondary-color);
}

/* ------------------------------------------------------------------------- navbar */
.navbar {
    padding: 0;
    font-family: 'Nunito-Bold';
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms;
    z-index: 1000;
}
.navbar .container {
    padding: 0;
    height: 100%;
}
.navbar .container div:nth-child(1) {
    padding: 0;
    margin-top: -15px;
    display: flex;
    align-items: center;
}
.navbar .logo {
    margin: 0;
    width: 70px;
    height: 75px;
    filter: drop-shadow(0 0 10px var(--drop-shadow-color));
    cursor: pointer;
    transition: 200ms;
}
.navbar .navbar-brand.text-white.ps-2 {
    font-size: 25px;
    filter: drop-shadow(0 0 10px var(--drop-shadow-color));
    transition: 200ms;
}
.navbar .logo:hover,
.navbar .navbar-brand.text-white.ps-2:hover {
    font-weight: bold;
    filter: drop-shadow(0 0 10px var(--drop-shadow-color-inverted));
    scale: 1.02;
}
.navbar .navbar-brand.text-white.ps-2:focus {
    scale: 0.90;
}
.navbar ul {
    margin-right: -100px;
    list-style: none;
    display: flex;
    padding: 22px;
    text-align: center;
    height: 100%;
    filter: drop-shadow(0 0 10px var(--drop-shadow-color));
}
.navbar ul:hover {
    filter: drop-shadow(0 0 10px var(--drop-shadow-color-inverted));
}
.navbar ul li {
    width: 125px;
    display: flex;
    justify-content: center;
}
.navbar ul li a {
    padding: 8px;
    width: 100%;
    border: 2px solid transparent;
    border-bottom: 2px solid white;
    border-radius: 10px 10px 0 0;
    text-decoration: none;
    transition: 200ms;
}
.navbar ul li a:hover {
    border: 2px solid cyan;
    border-bottom: 2px solid blue;
    font-weight: bold;
    transform: translateY(-5px);
    box-shadow: 0 10px 50px 0 rgba(0, 255, 255, 0.322);
}
.navbar ul li a:focus {
    scale: 0.75;
}
.navbar .loginBtn {
    margin-top: -15px;
    background: linear-gradient(135deg,pink, red);
    color: white;
    padding: 10px 20px;
    border: 2px solid red;
    border-radius: 35px;
    width: 100px;
    transition: 200ms;
}
.navbar .loginBtn:hover {
    background: linear-gradient(135deg, red,pink);
    border: 2px solid white;
    transform: translateY(-5px);
    box-shadow: 0 15px 50px 0 rgba(255, 0, 0, 0.281);
}
.navbar .loginBtn:focus {
    scale: 0.75;
}
.navbar .theme {
    margin-top: -15px;
    margin-right: -20px;
    margin-left: -70px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.theme .theme-icon {
    position: absolute;
    display: block;
    font-size: 26px;
    width: 30px;
    height: 30px;
    color: cyan;
    cursor: pointer;
}
.theme .theme-icon:hover {
    scale: 1.15;
}
.theme-icon.lightMode {
    display: none;
}

/* ------------------------------------------------------------------------- hero */

.hero {
    position: relative;
    top: 0;
    padding: 120px 20px;
    padding-top: 220px;
    text-align: center;
    color: white;
    width: 100%;
    height: 110vh;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: 
        linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(0, 0, 0, 0.372) 50%, rgba(0,0,0,1) 100%),
        url('../attachments/wallpapers/FCAIH2.jpg') fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.hero h1 {
    font-size: 42px;
    filter: drop-shadow(0 0 10px red);
}
.hero audio {
    width: 50%;
}

/* ------------------------------------------------------------------------- about */

.about {
    font-family: 'Nunito-Bold';
    scroll-margin-top: 125px;
    padding: 40px 20px;
    background: var(--about);
    color: var(--text-color-inverted);
    border: 10px solid var(--toBrown);
    border-radius: 35px;
    box-shadow: 0 20px 100px 15px rgba(255, 0, 0, 0.322);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 400px;
}
.about h1 {
    filter: drop-shadow(0 0 10px var(--drop-shadow-color));
}
.about p {
    font-size: 22px;
    width: 80%;
}
.about #volunteers {
    background: linear-gradient(135deg, pink, red);
    color: white;
    border: 2px solid red;
    padding: 10px 20px;
    border-radius: 35px;
    width: 150px;
    transition: 200ms;
}
.about #volunteers:hover {
    background: linear-gradient(135deg, red, pink);
    color: white;
    border: 2px solid white;
    transform: translateY(-3px);
    scale: 1.05;
}
.pop-up {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    backdrop-filter: blur(20px);
    z-index: 1000;
    animation: pop-up 750ms forwards ease;
}
.popup-hide {
    animation: pop-up2 750ms forwards ease;
}
.pop-up #closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--third-color);
    color: var(--text-color-inverted);
    width: 55px;
    height: 40px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: 200ms;
}
.pop-up #closeBtn:hover {
    background-color: red;
    color: white;
}
.mini-pop-up {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background: linear-gradient(135deg, pink, #944444);
    box-shadow: 0 0 20px 0 var(--toBrown);
    padding: 20px;
    border-radius: 35px 0 35px 35px;
    width: 80%;
    height: 95%;
    animation: mini-pop-up 750ms forwards ease;
}
.mini-popup-hide {
    animation: mini-pop-up2 750ms forwards ease;
}
.mini-pop-up .container2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.mini-pop-up .container2 .div1,
.mini-pop-up .container2 .div2,
.mini-pop-up .container2 .div3 {
    width: 30%;
    height: 90%;
    background: linear-gradient(315deg, pink, #944444);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 25px;
}
.mini-pop-up .container2 .div1 div,
.mini-pop-up .container2 .div2 div,
.mini-pop-up .container2 .div3 div {
    width: 90%;
    height: 45%;
    background: linear-gradient(135deg, pink, #944444);
    box-shadow: 0 0 10px 0 var(--text-color-inverted);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    overflow: hidden;
}
.mini-pop-up .container2 .div1 div:hover,
.mini-pop-up .container2 .div2 div:hover,
.mini-pop-up .container2 .div3 div:hover {
    width: 90%;
    height: 70%;
}
.mini-pop-up .container2 img {
    margin: 15px 0;
    width: 100px;
    height: 100px;
    border: 2px solid var(--third-color);
    box-shadow: 0 0 10px var(--third-color);
    border-radius: 50%;

}
.mini-pop-up .container2 img:hover {
    scale: 1.1;
}
.mini-pop-up .container2 p {
    font-size: 18px;
    color: var(--text-color-inverted);
    filter: drop-shadow(0 0 10px var(--drop-shadow-color-inverted));
}

/* ------------------------------------------------------------------------- projects */
.donations {
    padding: 25px;
    scroll-margin-top: 90px;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, transparent, rgba(129, 0, 0, 0.413));
    gap: 20px;
}
.donations h2 {
    text-align: center;
    color: var(--text-color-inverted);
    filter: drop-shadow(0 0 10px var(--drop-shadow-color));
}
.donations .project-card {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 35px;
    background-color: var(--third-color);
}
.donations-card .card-body {
    justify-content: center;
    width: calc((100% - 50px) / 2);
    height: 250px;
    display: flex;
    border: 2px solid pink;
    border-radius: 30px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-items: center;
}
.card-body h5,
.card-body p {
    background: linear-gradient(90deg, transparent 20%, var(--card-body-p) 50%, transparent 80%);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color-inverted);
    text-align: center;
}
.card-body p {
    background: linear-gradient(90deg, transparent, var(--card-body-p), transparent);
    height: 30px;
}
.card-body a {
    scroll-margin-top: 300px;
}
.card-body .progress {
    width: 100%;
    height: 10px;
}
.progess .progress-bar {
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
}

/* ------------------------------------------------------------------------- contact */

.contact {
    padding: 25px;
    scroll-margin-top: 90px;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, transparent, rgba(129, 0, 0, 0.413));
}
.contact h2 {
    text-align: center;
    width: max-content;
    margin: auto;
    margin-bottom: 26px;
    color: var(--text-color-inverted);
    filter: drop-shadow(0 0 10px var(--drop-shadow-color));
}
.contact .bootstrap-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    color: var(--text-color-inverted);
}
.bootstrap-icons .icon-div {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon-div .circle {
    margin-bottom: 15px;
    width: 75px;
    height: 75px;
    border: 2px solid var(--text-color-inverted);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 208, 208);
}
.icon-div p {
    font-size: 18px;
}
.contact form {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* ------------------------------------------------------------------------- footer */

footer {
    background: #111;
    color: white;
    padding: 20px;
    text-align: center;
}