.navbar {
    position: sticky;
    background-color: black;
    padding: 0;
    margin: 0;
}
.navbar::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 100%;
    height: 100%;
    background-color: #226878;
    z-index: -1;
}
.support {
    padding: 20px;
    background-color: var(--primary-color);
    width: 100%;
}
.support .container {
    padding: 50px;
    background-color: var(--donations-container-bgcolor);
    border-radius: 30px 30px 0 0;
}
.support h1 {
    text-align: center;
    text-decoration: underline;
    margin: 30px 0;
}
.container .analysis {
    padding: 20px;
    background-color: var(--donations-bgcolor);
    border-radius: 20px;
}
.analysis h2 {
    text-align: center;
    margin-bottom: 50px;
}
.analysis .analysis-box {
    margin: 0 auto;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    border: 1px solid black;
    border-radius: 20px;
    gap: 20px;
}
.analysis-box div {
    width: calc(100%/3);
    background-color: var(--donations-bgcolor);
    border-radius: 20px;
    text-align: center;
}
.analysis-box div span {
    font-family: 'Playball';
    font-weight: bolder;
    font-size: 25px;
}
.analysis-box div p {
    font-family: "Nunito-Light";
}
.analysis .box {
    padding: 20px;
    width: 100%;
    background-color: var(--donations-container-bgcolor);
    border-radius: 20px;
    gap: 20px;
    display: grid;
    align-items: center;
}
.box .s-box {
    margin: auto;
    padding: 20px;
    width: 95%;
    display: grid;
    background-color: var(--donations-bgcolor);
    border-radius: 20px;
}
.s-box > p:nth-child(1) {
    margin: 0;
    font-size: 30px;
    text-align: center;
}
.s-box > p:nth-child(2) {
    font-family: 'Nunito-Light';
    font-size: 20px;
    text-align: center;
}
.s-box .div1 {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
.div1 img {
    width: 65%;
    height: 100%;
    background-color: red;
}
.div1 .div2 {
    width: 35%;
    height: 100%;
    display: grid;
    flex-direction: column;
}
.div2 .progress {
    margin-bottom: 10px;
    background-color: var(--donations-container-bgcolor);
    border-radius: 35px;
    height: 15px;
}
.div2 .progress-bar {
    background-color: #009E74;
    width: 75%;
}
.div2 .div3 {
    padding-left: 15px;
    margin: 2px;
}
.div2 button {
    margin: auto;
    width: 150px;
    height: 35px;
    background-color: #009E74;
    color: var(--text-color);
    border: none;
    border-radius: 30px;
}
.div2 button:hover {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.281);
}
.div2 button:active {
    scale: 0.9;
    background-color: #005f45;
}
.div2 div:nth-child(2) span {
    color: #009E74;
    font-size: 30px;
}
.div3:nth-child(3) span,
.div3:nth-child(4) span {
    color: var(--text-color-inverted);
    font-size: 30px;
}
.div3 p {
    font-family: 'Nunito-Light';
    color: var(--text-color-inverted);
}