
.arrow-return { /* same as arrow-up's code in main.css */
    position: fixed;
    bottom: 30px;
    right: 35px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    line-height: 0;
    vertical-align: 0;
    background-color: #226878;
    color: white;
    border: 2px solid var(--border-color);
    border-radius: 50%;
    animation: arrow-up 300ms forwards ease;
    cursor: pointer;
    z-index: 999;
}
.arrow-return:hover {
    background-color: #3199b0;
    box-shadow: 0 0 5px 5px var(--box-shadow-80);
}
.arrow-return:active {
    background-color: #123e48;
    transform: scale(0.85);
}

.navbar {
    position: sticky;
    background-color: black;
    padding: 0;
    margin: 0;
}
.navbar::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 100%;
    height: 100%;
    background-color: #226878;
    z-index: -1;
}
.support {
    padding: 20px;
    padding-bottom: 0;
    background-color: var(--primary-color);
    color: var(--text-color-inverted);
    width: 100%;
}
.support h1 {
    margin: 30px 0;
    text-align: center;
    text-decoration: underline;
}
.support .container {
    padding: 50px;
    background-color: var(--secondary-color);
    /* box-shadow: 0 0 30px 0 var(--box-shadow-80); */
    border-radius: 30px 30px 0 0;
}
.support h1 {
    margin: 30px 0;
    text-align: center;
    text-decoration: underline;
    color: #226878;
}
.container .analysis {
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 20px;
}

.analysis h2 {
    text-align: center;
    margin-bottom: 50px;
    text-decoration: underline;
}
.container-analysis{
    background-color: rgba(189, 189, 189, 0.59);
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
}
.analysis .analysis-box {
    margin: 0 auto;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    border-radius: 20px;
    gap: 20px;
}
.analysis-box div {
    width: calc(100%/3);
    background-color: var(--donations-bgcolor);
    border-radius: 20px;
    text-align: center;
}
.analysis-box div span {
    font-family: 'Playball';
    font-weight: bolder;
    font-size: 25px;
    color: #226878;
}
.analysis-box div p {
    font-family: "Nunito-Light";
}
.container .support-projects {
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 20px;
    gap: 40px;
    display: grid;
    border-radius: 20px;
    gap: 25px;
}
.box .s-box {
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    width: 100%;
    display: grid;
    background-color: var(--donations-bgcolor);
    box-shadow: 0 0 30px 0 var(--box-shadow-80);
    border-radius: 20px;
    gap: 25px;
}
.s-box > p:nth-child(1) {
    margin: 0;
    font-size: 30px;
    text-align: center;
}
.s-box > p:nth-child(2) {
    font-family: 'Nunito-Light';
    font-size: 20px;
    text-align: center;
}
.s-box .div1 {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
.div1 img {
    width: 65%;
    height: 100%;
}
.div1 .div2 {
    width: 35%;
    height: 100%;
    display: grid;
    flex-direction: column;
}
.div2 .progress {
    margin-bottom: 10px;
    background-color: var(--donations-container-bgcolor);
    border-radius: 35px;
    height: 15px;
    border: 1px solid #226878;
}
.div2 .progress-bar {
    background-color: #009E74;
}
.div2 .div3 {
    padding-left: 15px;
    margin: 2px;
}
.div2 .div3:nth-child(2) span {
    color: #009E74;
    font-size: 30px;
}
.div2 .div3:nth-child(3) span,
.div2 .div3:nth-child(4) span {
    color: var(--text-color-inverted);
    font-size: 30px;
}
.div2 .div3 p {
    font-family: 'Nunito-Light';
    color: var(--text-color-inverted);
}
.div2 button {
    margin: auto;
    width: 150px;
    height: 35px;
    background-color: #009E74;
    color: white;
    border: 2px solid #226878;
    border: none;
    border-radius: 30px;
    transition: 250ms;
}
.div2 button:hover {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.281);
}
.div2 button:active {
    scale: 0.9;
    background-color: #005f45;
}

/* ---------------------------------------------------- Pop-up when click backBtn */

.pop-up {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 100vh;
    background-color: red;
}