
.arrow-return { /* same as arrow-up's code in main.css */
    position: fixed;
    bottom: 30px;
    right: 35px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    line-height: 0;
    vertical-align: 0;
    background-color: var(--primary-color5);
    color: var(--primary-color1);
    border: 1px solid var(--primary-color6);
    border-radius: 50%;
    animation: arrow-up 300ms forwards ease;
    cursor: pointer;
    transition: 1s;
    z-index: 999;
}
.arrow-return:hover {
    background-color: var(--primary-color4);
    box-shadow: 0 0 0 5px var(--primary-color3);
    transition: 150ms;
}
.arrow-return:active {
    background-color: var(--primary-color6);
    transform: scale(0.85);
}

/* --------------------------------------------------------------------------------- */

.navbar {
    position: sticky;
}
.support {
    color: var(--primary-color6);
    width: 100%;
}
.support h1 {
    padding: 30px;
    text-align: center;
    background: linear-gradient(90deg, var(--primary-color6), transparent 35% 65%, var(--primary-color6));
    color: var(--primary-color6);
    filter: drop-shadow(0 30px 3px var(--primary-color6));
    width: 100%;
    transition: 2000ms !important;
}
.support .container {
    margin-top: -8px;
    padding: 50px;
    border-bottom: none;
    backdrop-filter: blur(15px);
    background: linear-gradient(90deg, color-mix(in srgb, var(--primary-color6) 50%, transparent) 0%, transparent 1% 99%, color-mix(in srgb, var(--primary-color6) 50%, transparent) 100%);
    max-width: 95%;
}
.container .analysis {
    margin: auto;
    padding: 20px;
    width: 90%;
    backdrop-filter: blur(50px);
    background: color-mix(in srgb, var(--primary-color2) 25%, transparent);
    border: 1px solid color-mix(in srgb, var(--primary-color6) 25%, transparent);
    border-radius: 20px;
}

.analysis h2 {
    text-align: center;
    text-decoration: underline;
    filter: drop-shadow(0 0 5px var(--primary-color6));
}
.analysis .analysis-box {
    margin: 20px auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 125px;
    border-radius: 20px;
}
.analysis-box div {
    font-size: 20px;
    width: calc(100%/3.05);
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: color-mix(in srgb, var(--primary-color6) 10%, transparent);
    border: 1px solid color-mix(in srgb, var(--primary-color6) 25%, transparent);
    border-radius: 20px;
    box-shadow: 0 0 15px 0 color-mix(in srgb, var(--primary-color6) 50%, transparent) inset;
    text-align: center;
    transition: 150ms linear !important;
}
.analysis-box div:hover {
    font-size: 24px;
    background-color: var(--primary-color6);
    color: var(--primary-color1);
    scale: 1.025;
    transition: 50ms linear !important;
}
.analysis-box div span {
    font-family: 'Playball';
    font-weight: bolder;
    transition: 150ms linear !important;
}
.analysis-box div p {
    font-family: "Nunito-Light";
    transition: 150ms linear !important;
}
.container .box {
    border-radius: 20px;
    gap: 40px;
    display: grid;
    border-radius: 20px;
    gap: 25px;
}
.box .s-box {
    padding: 20px;
    width: 100%;
    display: grid;
    backdrop-filter: blur(50px);
    background: color-mix(in srgb, var(--primary-color1) 25%, transparent);
    border: 1px solid color-mix(in srgb, var(--primary-color6) 65%, transparent);
    box-shadow: 0 0 35px 0 color-mix(in srgb, var(--primary-color6) 75%, transparent) inset;
    border-radius: 20px;
    gap: 25px;
}
.s-box > p:nth-child(1) {
    margin: 0;
    font-size: 30px;
    text-align: center;
}
.s-box > p:nth-child(2) {
    font-family: 'Nunito-Light';
    font-size: 20px;
    text-align: center;
}
.s-box .div1 {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
.div1 img {
    width: 65%;
    height: 100%;
    border: 2px solid var(--primary-color5);
    border-radius: 20px;
}
.div1 .div2 {
    width: 35%;
    height: 100%;
    display: grid;
    flex-direction: column;
}
.div2 .progress {
    margin-bottom: 10px;
    background-color: var(--donations-container-bgcolor);
    border-radius: 35px;
    height: 15px;
    border: 1px solid #226878;
}
.div2 .progress-bar {
    background-color: #009E74;
}
.div2 .div3 {
    padding-left: 15px;
    margin: 2px;
}
.div2 .div3:nth-child(2) span {
    color: #009E74;
    font-size: 30px;
}
.div2 .div3:nth-child(3) span,
.div2 .div3:nth-child(4) span {
    color: var(--primary-color6);
    font-size: 30px;
}
.div2 .div3 p {
    font-family: 'Nunito-Light';
    color: var(--primary-color6);
}
.div2 button {
    margin: auto;
    width: 150px;
    height: 35px;
    background: linear-gradient(#009E74);
    color: white;
    border: 2px solid #226878;
    border-radius: 30px;
    transition: 250ms;
}
.div2 button:hover {
    background: linear-gradient(135deg, #00dda2,#009E74 35% 65%, #00dda2);    
}
.div2 button:active {
    scale: 0.9;
    background: linear-gradient(135deg, #009E74,#007153 35% 65%, #009E74);    
}

/* ---------------------------------------------------- Pop-up when click backBtn */

.pop-up {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #00000080;
    backdrop-filter: blur(20px);
    z-index: 1000;
    animation: pop-up 750ms forwards ease;
}
.pop-up .mini-pop-up {
    /* padding-top: 40px; */
    width: 40%;
    min-width: 450px;
    background:  var(--primary-color2);
    color: var(--primary-color6);
    animation: none;
}
.mini-pop-up p {
    text-align: center;
    font-size: 22px;
}
.mini-pop-up form {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
}
form label {
    margin-left: 10px;
}
form label::after {
    content: " *";
    color: red;
}
form input,
select {
    margin-bottom: 15px;
    height: 40px;
    border: 1px solid #226878;
    border-radius: 8px;
    transition: 100ms;
}
select {
    width: 100%;
    text-align: center;
}
form input:focus,
select:focus {
    outline: 1px solid #226878;
    box-shadow: 0 0 0 3px #226878;
}
form div {
    gap: 10px;
}
form div div {
    display: flex;
    flex-direction: column;
}
form div div div {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
form button {
    margin: auto;
    width: 150px;
    height: 45px;
    background: linear-gradient(#226878);
    color: white;
    border: 1px solid #226878;
    border-radius: 30px;
    box-shadow: 0 0 0 2px gray;
    transition: 200ms;
}
form button:hover {
    background: linear-gradient(135deg, #99ecff,#226878 35% 65%, #99ecff);
    color: #b4f1ff;
    box-shadow: 0 5px 15px 2px gray;
    transform: scale(2);
    transform: translateY(-3px);
}
form button:active {
    background: linear-gradient(135deg, #2c8ea4,#074e5f 35% 65%, #2c8ea4);
    scale: 0.75;
}
.mini-pop-up div {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.mini-pop-up div > img {
    width: 120px;
    color: var(--box-shadow-80);
}
