
* {
    color: var(--primary-color6);
    /* transition: all 1s 0s linear; */
}
.navbar {
    position: sticky !important;
    background: color-mix(in srgb, var(--primary-color2) 90%, transparent);
}

/* ------------------------------------------------------------ */

.user-dashboard {
    padding: 20px;
    position: relative;
    height: 500px;
}
.user-dashboard .row {
    display: flex;
}
.profile-card {
    margin: 20px;
    margin-left: 0;
    padding: 20px;
    position: fixed;
    top: 25%;
    left: 50px;
    width: 25%;
    background: color-mix(in srgb, var(--primary-color2) 20%, transparent);
    box-shadow: 0 0 20px var(--primary-color6) inset;
    border-radius: 10px;
    transition: all 2000ms linear;
}
.card-body::before {
    content: none;
}
.profile-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid white;    
    margin-bottom: 15px;
}
.stat-card {
    background: linear-gradient(135deg, var(--primary-color1) 0%,  var(--primary-color2) 100%);
    color: white;
}
.stat-card h1 {
    font-size: 2.5rem;
    font-weight: bold;
}